.upload-wrapper{
  width:1000px;
  margin: 0 auto;
    &-bar{
      display:flex;
      justify-content: center;
      padding: 0;
      margin: 20px auto;
      border: solid 1px #333;
      border-radius: 2px;
      overflow: hidden;
      list-style: none;
        &-each{
          padding:10px;
          width:33.4%;
          text-align:center;
          border:1px solid $gray;
        }
    }
    &-text{
      font-size:25px;
      border-top:1px solid $gray;
      border-bottom:1px solid $gray;
      padding-top:30px;
      padding-bottom:30px;
      margin-top:25px;
      margin-bottom:25px;
    }
}

.upload-wrapper-form{
    &-content{
      border:solid 1px $azuki;
      height:370px;
      padding:20px;
      position:relative;
      &-description{
        margin-left:470px;
        &-span{
          color:red;
        }
        &-textarea{
          width:450px;
          height:80px;
        }
      }
      &-title{
        width:470px;
        display:flex;
        justify-content:row;
        margin-left:470px;
        position:absolute;
        top:20;
          &-span{
            color:red;
          }
          &-input{
          margin-left:20px;
          width:250px;
          }
      }
      &-label{
        color: #fff;
        font-weight: bold;
        text-align: center;
        width: 250px;
        background: $gray;
        margin-top:25px;
        padding: 20px 15px;
        margin-bottom: 10px;
        border-radius: 4px;
        display: inline-block;
        cursor: pointer;
    }
  }
}

.image-input{
  display:none;
}

.btns-upload-btn{
  margin-top:40px;
  color: #e5e5e5;
  background: #ccc;
  cursor: default;
  font-size: 90%;
  line-height: 150%;
  font-weight: bold;
  text-align: center;
  width: 170px;
  padding: 15px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  vertical-align: top;
  box-sizing: content-box;
  transition:all 0.1s; 
}

.btns-upload-btn:hover{
  background-color:rgba($gray, 0.5)
}

.select-box-wrapper{
  margin-left:470px;
  position:absolute;
  top:65;
    &-select{
     width:80px;
   }
}

.upload-wrapper-form-content-text-caution{
  color:red;
}