.mainpage-header__nav{
  background:#333;
    &-wrapper{
      display: flex;
      align-items: center;
      position: relative;
        &-text{
          margin-left:15px;
          padding:8px;
        }
        &-form{
          &-search{
            background:white;
            border-radius:10px; 
            border:none;
            width:250px;
            height:30px;
            padding:10px;
          }
          &-btn{
            background:#666;
            border:none;  
            transition:all 0.1s;
            padding:5px 8px;
            border-radius:10px;
            margin-left:5px;
          }
        }
        a{
          color:white;
        }
     }
     .mainpage-header__nav-wrapper-form-btn:hover{
      background-color:rgba(#eee,0.5);
     }
 }
