.user-container{
  width: 100%;
  text-align:center;
  &-nickname{
   margin-top:30px;
   width:640px;
   font-weight:bold;
   font-size:20px;
   &-text{
     font-weight:normal;
     font-size:14px;
   }
  }
  &-name{
    color:$gray;
    margin-bottom:10px;
  }
  &-nav{
    position: relative;
    display:flex;
    justify-content:center;
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    // min-height: 50px;
    // height: auto !important;
    // height: 50px;
    border: none;
      &-list{
        margin-right:18px;
      }
  }
}

.user-pictures{
  width:1000px;
  margin: 40px auto;
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
  &-wrapper{
    margin:3px;
    &-title{
     text-align:center;
    }
  }
}